@model TPDojoBO.Samourai

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>

    @Html.Partial("_SamouraiDetails")

</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" }) 
    @Html.ActionLink("Retour à la liste", "Index","", htmlAttributes: new { @class = "btn btn-default" })
</p>
